@import "tailwindcss";

button {
  cursor: pointer !important;
}

input {
  outline: none !important;
}

input,
textarea {
  font-family: "Be Vietnam Pro", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Be Vietnam Pro", sans-serif;
}
